<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WYPDFEditOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>182EA1711F0C74FA00470A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182EA18A1F0C74FA00470A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182EA1951F0C74FA00470A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
